@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('Roboto-Thin.ttf');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('Roboto-Thin.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #111111;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  background-color: #111111;
  height: 100%;
}

a,
a:active,
a:visited,
a:focus {
  color: greenyellow;
  text-decoration: none;
}

a:hover {
  color: lime;
  text-decoration: none;
}

ul:not(.not-interactive) {
  transition: 0.5s;
  position: absolute;
  transform: translateX(110px) translateY(-19px);
  width: 400px;
  background-color: #111111;
}

.closed {
  transform: translateX(110px) translateY(100px) !important;
  opacity: 0;
}

ul {
  list-style-type: none;
  line-height: 18px;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

li:before {
  content: "├     ";
  font-size: 15px;
}

ul li:nth-last-child(1):before {
  content: "└     ";
}

ul li:nth-child(1):before {
  content: "┬     ";
}

.simple-list li:before {
  content: "─ " !important;
}

span {
  font-size: 15px;
  line-height: 15px;
}
/* animate.css */

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateX(-20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotateX(-5deg);
  }
  100% {
    transform: perspective(400px);
  }
}

h2,
h5,
h6,
.not-interactive,
p {
  animation-duration: 1s;
  animation-fill-mode: both;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

h2 {
  background-color: white;
  color: black;
  padding: 5px;
  animation-duration: 2s;
}